<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css">
    <script src="../js/profile.js"></script>
</head>

<body>

    <div class="sidenav">
        <div class="profile-image">
            <img src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=m8dFEawAAAAJ&citpid=2"
                alt="Profile">
        </div>
        <h1>Bruno Woltzenlogel Paleo</h1>
        <p>AxiomFlow</p>
    </div>

    <div class="main">
        <section>
        <table>
            <tr>
                <td>h-index</td>
                <td>16</td>
                <td>h-index</td>
                <td>16</td>
            </tr>
            <tr>
                <td>h-index</td>
                <td>16</td>
                <td>h-index</td>
                <td>16</td>
            </tr>
            <tr>
                <td>h-index</td>
                <td>16</td>
                <td>h-index</td>
                <td>16</td>
            </tr>
        </table>
        </section>
        <section>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Item One</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item Two</td>
                            <td>Vis ac commodo adipiscing arcu aliquet.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item Three</td>
                            <td> Morbi faucibus arcu accumsan lorem.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item Four</td>
                            <td>Vitae integer tempus condimentum.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item Five</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>100.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>


    </div>

</body>

</html>