{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  }
}
