header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
  height: 85vh;
}

img#Slogo {
  width: 300px;
  height: 200px;
}
img#navlogo {
	width: 55px;
	height: 55px;
}
.scholarlogo{
  text-align:center
}
#cap-icon{
  margin-left:10px;
}

.divbtn{
  text-align:center;
}

#sbtn{
  text-align:center;
}
/* ===========================
   ====== Search Box ====== 
   =========================== */

.search {
  border: 1px solid #b4bcc2;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type="text"] {
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus {
  outline: 0;
}

.search input[type="submit"] {
  border: 0px;
  background: none;
  background-color: skyblue;
  color: #fff;
  float: right;
  padding: 10px;
  /* border-radius-top-right: 5px; */
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  /* border-radius-bottom-right: 5px; */
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  cursor: pointer;
}


@media only screen and (min-width : 150px) and (max-width : 780px) {
    

  .search {
    width: 95%;
    margin: 0 auto;
  }

}

.contact-head {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  position: relative;
}

h3#sec-subhead {
  margin-top: 40px;
  position: relative;
  text-align: center;
  color: #b4bcc2;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

