@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	max-width: 100%;
	box-sizing: border-box;
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 100vw;
	max-width: 100%;
	font-size: 10px;
	background-color: #fff;
	font-family: "Inter", Helvetica, Verdana, Arial, sans-serif;
	overflow-x: hidden;
}

.nav {
	background-color: #FBFBFB;
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__link {
	position: absolute;
	right: 30px;
	text-decoration: none;
	font-size: 18px;
}

.header {
	background-color: #FBFBFB;
	width: 100vw;
	height: 20vh;
	padding-bottom: 4vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.header__heading {
	font-size: 3.2rem;
	font-weight: 600;
	text-align: center;
	color: #3d404b;
}

.information {
	width: 100vw;
	min-height: 100vh;
	background-color: #ffffff;
	margin-top: 10vh;
}

.def {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.def:not(.def--h-index) {
	margin-top: 15vh;
}

.def__heading {
	font-size: 2.4rem;
	color: #3d404b;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.def__heading::after {
	content: '';
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: -15px;
	width: 50%;
	height: 3px;
	background-color: green;
}

.def__text {
	font-size: 16px;
	width: 60vw;
	text-align: center;
	font-weight: 400;
	color: #0c0c0c;
}

.def__images-wrapper {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	margin-top: 5vh;
}

.footer {
	background-color: #34363f;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 1.8rem;
}