body{
	overflow-x: hidden;
}
header {
	padding: 156px 0 100px;
}

section {
	padding: 150px 0;
	height: 85vh;
}

img#navlogo {
	width: 55px;
	height: 55px;
}

.def {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.def:not(.def--h-index) {
	margin-top: 15vh;
}

.def__heading {
	font-size: 2.4rem;
	color: #3d404b;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.def__heading::after {
	content: '';
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: -15px;
	width: 50%;
	height: 3px;
	background-color: green;
}

.def__text {
	font-size: 16px;
	width: 60vw;
	text-align: center;
	font-weight: 400;
	color: #0c0c0c;
}

.def__images-wrapper {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	margin-top: 5vh;
}

.def__image {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.responsive {
	max-width: 100%;
	height: auto;
  }