html {
	width: 1301px;
	height: 1301px;
	overflow-x: hidden;
}

img#Slogo {
	width: 300px;
	height: 200px;
}

img#navlogo {
	width: 55px;
	height: 55px;
}

span.glyphicon.glyphicon-align-justify {
	position: absolute;
	top: 110px;
	left: 555px;

}

img#profile {
	position: absolute;
	top: 170px;
	height: 140px;
	width: 140px;
	border-radius: 100.5px;
	left: 60px;
}

.name {
	position: absolute;
	font-family: Roboto !important;
	font-style: normal;
	font-weight: normal;
	font-size: 2.34375rem;
	top: 175px;
	color: #2EAADF;
	left: 230px;

}

#company {
	position: absolute;
	left: 230px;
	top: 225px;
	font-size: 22px;
	color: #010101;
	font-family: Rhodium Libre !important;

}

#country {
	position: absolute;
	left: 230px;
	top: 265px;
	font-size: 22px;
	color: #010101;
	font-family: Rhodium Libre !important;

}



#website {
	position: absolute;
	left: 320px;
	top: 80px;
	font-size: 22px;
	font-family: Rhodium Libre !important;

}

#publications {
	position: absolute;
	left: 70px;
	top: 25px;
	font-size: 25px;
	color: #010101;
}

#tcitations {
	position: absolute;
	left: 515px;
	top: 25px;
	font-size: 25px;
	color: #010101;
}

#gindex {
	position: absolute;
	left: 70px;
	top: 135px;
	font-size: 25px;
	outline: 0;
}

#hindex {
	position: absolute;
	left: 320px;
	top: 135px;
	font-size: 25px;
	outline: 0;
}

#oindex {
	position: absolute;
	left: 70px;
	top: 80px;
	font-size: 25px;
	outline: 0;
}

#hmedian {
	position: absolute;
	left: 515px;
	top: 80px;
	font-size: 25px;
	outline: 0;
}

#mindex {
	position: absolute;
	left: 515px;
	top: 135px;
	font-size: 25px;
	outline: 0;
}

#TNCc {
	position: absolute;
	left: 305px;
	top: 25px;
	outline: 0;
	font-size: 25px;

}

div.info_rect {
	position: absolute;
	left: 25px;
	top: 340px;
	width: 700px;
	height: 220px;
	border: 3px #010101;
	background: #DDF1FA;
	font-family: Roboto !important;

}

div.Table {
	position: absolute;
	top: 600px;
	width: 1300px;
}

.info_rect_text {
	color: #2EAADF;
}

.chart {
	position: absolute;
	left: 730px;
	top: 213px;
}

.menu {
	position: absolute;
	left: 0px;
	color: #2EAADF;
	top: 30px;
}