html{
	overflow-x: hidden;
}

#profile{
	position: absolute;
	left: 15px;
	height: 100px;
	width:100px;
	border-radius: 100.5px;
}
.search_list{
	left: 0px;
	width: 1300px;
	height: 100px;
	border: 3px #010101;	
	border-radius: 121px;
	margin-bottom: 10px;
}
.pname{	
	padding-left: 22px;
	padding-top: 12px;
	position: relative;
	left: 145px;
	top: 95px;
	height: 50px;
	width: 210px;
	font-size: 15px;
	background-color: #333;
	border-radius: 5px;
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 .pname a{
	 color: antiquewhite;
	 text-decoration: none;
 }

#company{
	position: relative;
	left: 147px;
	top: -16px;
	color: #333333;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 1px;
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.proname{
	position: relative;
	left: 363px;
	color: #333;
	background-color:#b4bcc2;
	top: -64px;
	width: 90px;
	height: 50px;
	padding-left: 18px;
	padding-top: 12px;
	border-radius: 5px;
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.proname a{
	color: #333;
	text-decoration: none;
}

hr.style{
	width: 85%;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
	border: 0;
}

.res-head{
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	padding-right: 90px;
	padding-bottom: -25px;
	padding-top: 20px;
	text-transform: uppercase;
}

/*Header*/
header{
	background-color:	#333;
	color: #ffffff;
	min-height: 90px; 
	width: 1355px;
	right: px;
	position: relative;
}

header a{
	background:transparent;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 1px;
	color:#fff;
	transition: all ease .35s;
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header a:hover{
	transition: all ease .35s;
	text-decoration: none;
	color: yellow;
	outline: none;
}

header ul{
	position: relative;
	display: block;
	padding: 10px 15px;
    padding: 0;
    margin: 0;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo{
	padding-left: 40px;
    float: left;
}

header nav{
	padding-right: 85px;
	position: relative;
	list-style: none;
	float: right;
	margin-top: 10px;
	border: 0;
	transition: padding .3s;
}

.nav-sec{
	position: fixed;
	background-color: #333;
	width: 1455px;
	height: 95px;
	top: -1px;
	padding-top: 35px;
	z-index: 100;
}

.container-nav{
	width: 100%;
	position: fixed;
    margin: auto;
	overflow: hidden;
}
/*Search bar in header*/
.search-container{
	float: left;
	top: px;
	position: relative;
	left: 220px;
}

header #cap-icon{
	position: relative;
	top: 14px;
	left: 38px;
	color: #333;
	font-size: 20px;
}

input#search-text{
	height: 42px;
	width: 530px;
	padding-left: 45px;
	border-radius: 50px;
}

input#search-text:focus{
	outline: none;
	border: none;
}

header #search-icon{
	position: relative;
	color: #333;
	font-size: 20px;
}

header #sub-btn{
	position: relative;
	right: 50px;
	border: none;
	outline: none;
	background: none;
}

/*Footer*/
		
.all-cont{
		margin-bottom: 546px;
		margin-top: -20px;
}

.contact-section{
	margin-bottom: 50px;
	width: 1360px;
	height: 250px;
	}
	
.contact-head{
	font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	padding-right: 90px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
	
h3#sec-subhead{
	text-transform: none;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 75px;
	padding-left: 400px;
	color: #b4bcc2;
}
	
.contact-section a{
	color: #fed136;
}
	
.container-main a{
	color: #fed136;
}
	
footer{
	background-color: #f7f7f7;
	padding: 40px 0;
	text-align: center;
	min-height: 70px; 
	width: 1400px;
	position: absolute;
	height: 120px;
	display: flex;
	left: -20px;
}


.container-foot{
	position: relative;
	left: 190px;
	top: 10px;
}

.foot-elements{
	position: relative;
	left: 390px;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
	background-color:#222;
	transition: all .3s;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

footer .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
	color: #fff;
	margin-top: 10px;
}

ul.social-buttons li a:hover, ul.social-buttons li a:active {
    background-color:  #fed136;
}









