<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../js/popup.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
        <link rel="stylesheet" href="../css/popup.css" />
    </head>

    <body>

        <header id="head">
            <p>AOSSIE Scholar</p>
            <div style="font-size: 0.5rem">
                <button id="star-button" type="submit"><i id="star" class="fas fa-star fa-2x checked"></i></button>
            </div>
        </header>

        <div id="searchDiv">
            <img id="logo" src="../images/logo_only.png" />
            <form id="searchForm">
                <input type="text" name="scholarName" id="searchInput" />
                <button type="submit" id="searchBtn">Search</button>
            </form>
        </div>

        <footer id="foot">
            <p>Visit your Google Scholar page to register!</p>
        </footer>
    </body>
</html>
