<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starred Scholars</title>
    <link rel="stylesheet" href="../css/starred.css">
    <script src="../js/starred.js"></script>
</head>

<body>


    <div class="container">

        <hgroup class="mb20">
            <h1>Starred Scholars</h1>
        </hgroup>

        <section class="col-xs-12 col-sm-6 col-md-12">
            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <img src="" alt="Lorem ipsum" /></a>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit,
                        distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis
                        delectus doloremque.</p>

                </div>
            </article>

            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <img src="" alt="Lorem ipsum" /></a>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-7">
                    <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit,
                        distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis
                        delectus doloremque.</p>

                </div>
            </article>

            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <img src="" alt="Lorem ipsum" /></a>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-7">
                    <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit,
                        distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis
                        delectus doloremque.</p>

                </div>
            </article>

        </section>
    </div>
</body>

</html>