.dark body {
    overflow-x: hidden;
    padding-left: 35rem;
    background-color: #efefef;
}

.dark section {
    min-height: 40vh;
    padding: 0.5rem;
    background-color: #efefef;
}

#lightMode {
    display: block;
    position: absolute;
    top: 35px;
  }

  table td {
    padding: 0.75em 0.75em;
    background-color: #111;
    color: #eee;
}

.dark table tfoot {
    border-top: solid 2px black; 
}

.dark table.alt tbody tr td {
    border: solid 2px black; 
    border-left-width: 0;
    border-top-width: 0;
    background-color: #111;
}

.dark table tbody tr:nth-child(2n + 1) {
    background-color: black;  
    
}

.dark .metrics .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 1rem 0;
    padding-left: 3rem; */
    padding: 20px 20px 0px 20px;
    color: black;
}

.dark .publications .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
}
