html {
    overflow-x: hidden;
}

#profile {
    position: absolute;
    left: 15px;
    height: 100px;
    width: 100px;
    border-radius: 100.5px;
}

.search_list {
    left: 0px;
    width: 90%;
    height: 100px;
    border: 3px #010101;
    border-radius: 121px;
    margin-bottom: 10px;
}

.pname {
    padding-left: 22px;
    padding-top: 12px;
    position: relative;
    left: 145px;
    top: 95px;
    height: 50px;
    width: 210px;
    font-size: 15px;
    background-color: #333;
    border-radius: 5px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pname a {
    color: antiquewhite;
    text-decoration: none;
}

#company {
    position: relative;
    left: 147px;
    top: -16px;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


hr.style {
    width: 85%;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    border: 0;
}


.all-cont {
    margin-bottom: 546px;
    margin-top: -20px;
}

