body {
    margin: 0 0 0 0;
    width: 300px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(235, 235, 235, 0.3); /* Black background with opacity */
    opacity: 0.5;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* Add a pointer on hover */
}
.loader {
    border: 3px solid #f3f3f3;
    visibility: visible;
    display: none;
    border-radius: 50%;
    z-index: 100;
    top: 47%;
    left: 44%;
    position: absolute;
    border-top: 5px solid rgb(9, 9, 31);
    /*border-bottom: 5px solid blue;*/
    width: 35px;
    height: 35px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#registerDiv {
    display: none;
    /* display: block; */
}

.checked {
    color: orange;
}

#star-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    top: 4px;
    right: 4px;
}

#head {
    position: relative;
    top: 0px;
    height: 35px;
    background-color: #e8e8e8;
    text-align: center;
}

#head p {
    margin-top: 0px;
    padding-top: 3px;
    color: rgb(98, 155, 41);
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 1px;
}

#foot {
    position: relative;
    bottom: 0px;
    height: 35px;
    background-color: #e8e8e8;
    text-align: center;
}

#foot p {
    margin-top: 8px;
    padding-top: 8px;
    color: #383838;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
}

#logo {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#searchInput {
    width: 70%;
    padding: 12px 20px 12px 12px;
    margin: 8px 44px 0px 44px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}

#searchBtn,
#regBtn {
    background-color: #0099ff;
    border: none;
    margin: 8px 50px 0px 115px;
    border-radius: 7px;
    color: white;
    padding: 8px 15px;
    text-decoration: solid;
    font-weight: bold;
    cursor: pointer;
}

#regCitationInput,
#regCountryInput {
    width: 85%;
    padding: 8px 20px 8px 10px;
    display: inline-block;
    /* margin-left: 60px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

#regNameInput {
    width: 85%;
    padding: 8px 20px 8px 10px;
    /* margin-left: 60px; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#regLabel {
    margin-left: 5px;
    padding-right: 15px;
    font-weight: bold;
}
