<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
   <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/homedesign.css' %}">
	<title>Aossie Scholar</title>
</head>
	<body>
		<img id = "Alogo" src = "{% static 'metrics/images/AOSSIE_logo.png' %}" alt = "aossie_logo">
		<img id = "Slogo" src = "{% static 'metrics/images/Scholar_logo.png' %}" alt = "Scholar_logo">
		<img id = "index" src = "{% static 'metrics/images/index.png' %}" alt = "Index">
		<img id = "scholar" src = "{% static 'metrics/images/scholar.jpg' %}" alt = "Scholar">
		<img id = "cap" src= "{% static 'metrics/images/cap.png' %}" alt = "scholar cap">
		
		<div class="container">

			<form method="post">

				{% csrf_token %}
				{{ indexform.errors }}
				<div id="index_form">
					{{ indexform.as_p }}
					<button type="submit" class="btn btn-outline-secondary">submit</button>
				</div>
			</form>

			<form method="post">
				{% csrf_token %}
				<!-- {{ searchform.errors }} -->
				<div id="search_form">
				{{ searchform.search }}
				<br>
				<button type="submit" class="btn btn-outline-secondary">Search</button>
				</div>
			</form>

		</div>

	</body>
	
</html>






