<!DOCTYPE html>
<html lang="en">
{%load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aossie Scholar</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/homedesign.css' %}">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <div class="aologo">
                <a href=" http://127.0.0.1:8000/metrics/"><img id="navlogo"
                        src="{% static 'metrics/images/AOSSIE_logo_08_cropped_tiny.png' %}" alt="aossie_logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="scholarlogo" style="text-align:center">
                        <img id="Slogo" src="{% static 'metrics/images/Scholar_logo.png' %}" alt="Scholar_logo">
                    </div>
                    <div class="search">
                        <form action="{% url 'metrics:search_results' %}" method="get" class="search-form">
                            <i id="cap-icon" style="margin-left:10px;" class="fa fa-graduation-cap"></i>
                            <input type="text" name="search" value="{{ search_term }}" required>
                            <input type="submit" value="Search">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="register" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form method="post">

                        {% csrf_token %}
                        {{ indexform.errors }}
                        <div id="index_form">
                            {{ indexform.as_p }}
                            <div style="text-align:center;">

                                <button style="text-align:center;" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="contact-head">Contact Us</h2>
                    <h3 id="sec-subhead" class="section-subheading text-muted">Please use our <a
                            href="https://gitter.im/AOSSIE/AossieScholar">Gitter Channel</a> to communicate with us.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {% comment %} <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; AossieScholar</p>
        </div>
    </footer> {% endcomment %}

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'metrics/js/scrolling-nav.js' %}"></script>

</body>

</html>