<!DOCTYPE html>
<html lang="en">
{% load render_table from django_tables2 %}
{% load el_pagination_tags %}

<head>
	<title>Aossie Scholar</title>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Rock Salt" rel='stylesheet'>
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'metrics/profiledesign.css' %}">
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
	
</head>
	<body>

		<div class= "rectangle-up">

			<a class= "sign_in_text" href="{% url 'metrics:home' %}">Sign In</a>

			<form method="post">
				{% csrf_token %}
				<!-- {{ searchform.errors }} -->
				<div id="search_form">
				{{ searchform.search }}
				<button id="search" type="submit" class="btn btn-outline-info">Search</button>
				</div>
			</form>

			<img id = "Alogo" src = "{% static 'metrics/images/AOSSIE_logo.png' %}" alt = "aossie_logo">
			<img id = "cap" src = "{% static 'metrics/images/cap.png' %}" alt = "Scholar_cap">
			<img id = "Slogo" src = "{% static 'metrics/images/Scholar_logo.png' %}" alt="scholar_logo">
			<!--<img id = "index" src = "{% static 'metrics/images/index.png' %}" alt = "Index">
			<img id = "scholar" src = "{% static 'metrics/images/scholar.jpg' %}" alt = "Scholar"> -->
		</div>

		

		<!--<div class= "round_design">
			<img id = "pro_cur" src = "{% static 'metrics/images/pro_cur.png' %}" alt = "design">
		</div> -->
		</div>
		<div>
			<img id="cap_up_scholar" src="{% static 'metrics/images/cap1.svg' %}" alt= "cap" />
		<img id="profile" src= "{{ img_url }}" alt="pic"/>
		<br>
		<h1 class="name"> {{ Name }}</h1>
		<div class= "info_rect"><p class= "info_rect_text" id= "country">{{ Country }}</p>
			<p class= "info_rect_text" id= "company"> {{ company }}</p>
			<a class=" info_rect_text" id= "website" href="{{ website }}">Website</a>
			<p class= "info_rect_text" id= "publications">Publications {{ publications }}</p>
			<p class= "info_rect_text" id= "tcitations">Citations {{ Tcitations }}</p>
			<p class= "info_rect_text" id= "gindex">G-index {{ g_index }}</p>
			<p class= "info_rect_text" id= "hindex">h-index {{ h_index }}</p>
			<p class= "info_rect_text" id= "mindex">m-index {{ m_index }}</p>
		</div>

	</div>
	<div class="piechart">
		<img id= "pie" src="{{ user }}">
	</div>

	<div class="Table">
		{% render_table table %}
	</div>

	<div id="chart-1">
    <!-- dumping JavaScript code here -->
    {{ output|safe }}

    </div>
	<!--<ul>
	{% for publication in list %}
	    <li>{{ publication }}</li>
	{% endfor %}
		</ul> -->
	</body>