<!DOCTYPE html>
<html lang="en">
{%load static %}
{% load render_table from django_tables2 %}

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{ Name }}</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{% static 'metrics/profiledesign.css' %}">
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
	<script type="text/javascript"
		src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>

</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<div class="container">
			<div class="aologo">
				<a href=" http://127.0.0.1:8000/metrics/"><img id="navlogo"
						src="{% static 'metrics/images/AOSSIE_logo_08_cropped_tiny.png' %}" alt="aossie_logo"></a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="http://127.0.0.1:8000/metrics/">Search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="http://127.0.0.1:8000/metrics/info_page/">Scholar Metrics</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section id="search">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div>
						<img id="profile" src="{{ img_url }}" alt="pic" />
						<h1 class="name"><a href="{{ website }}"> {{ Name }}</a></h1>
						
						<p class="info_rect_text" id="company"> {{ company }}</p>
						<p class="info_rect_text" id="country">{{ Country }}</p>
						<div class="info_rect">
							<p class="info_rect_text" id="publications">Publications - {{ publications }}</p>
							<p class="info_rect_text" id="tcitations">Citations - {{ Tcitations }}</p>
							<a class="info_rect_text" id="TNCc" href="{% url 'metrics:info_page' %}#tncc">TNCc - 
								{{ TNCc }}</a>
							<a class="info_rect_text" id="gindex" href="{% url 'metrics:info_page' %}#g-index">g-index - 
								{{ g_index }}</a>
							<a class="info_rect_text" id="hindex" href="{% url 'metrics:info_page' %}#h-index">h-index -
								{{ h_index }}</a>
							<a class="info_rect_text" id="mindex" href="{% url 'metrics:info_page' %}#m-index">m-index -
								{{ m_index }}</a>
							<a class="info_rect_text" id="oindex" href="{% url 'metrics:info_page' %}#o-index">o-index -
								{{ o_index }}</a>
							<a class="info_rect_text" id="hmedian"
								href="{% url 'metrics:info_page' %}#h-median">h-median -
								{{ h_median }}</a>
						</div>

					</div>
					<div id="chart-1" class="chart">
						<!-- dumping JavaScript code here -->
						{{ output|safe }}

					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="register" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div class="Table">
						{% render_table table %}
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
	{% comment %} <footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; AossieScholar</p>
		</div>
	</footer> {% endcomment %}

	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!-- Custom JavaScript for this theme -->
	<script src="{% static 'metrics/js/scrolling-nav.js' %}"></script>

</body>

</html>